In [93]:
!poetry add pyarrow --dev

Using version ^2.0.0 for pyarrow

Updating dependencies
Resolving dependencies... (1.9s)

Writing lock file

Package operations: 1 install, 0 updates, 0 removals

  • Installing pyarrow (2.0.0): Pending...
  • Installing pyarrow (2.0.0): Downloading... 0%
  • Installing pyarrow (2.0.0): Downloading... 10%
  • Installing pyarrow (2.0.0): Downloading... 20%
  • Installing pyarrow (2.0.0): Downloading... 30%
  • Installing pyarrow (2.0.0): Downloading... 40%
  • Installing pyarrow (2.0.0): Downloading... 50%
  • Installing pyarrow (2.0.0): Downloading... 60%
  • Installing pyarrow (2.0.0): Downloading... 70%
  • Installing pyarrow (2.0.0): Downloading... 80%
  • Installing pyarrow (2.0.0): Downloading... 90%
  • Installing pyarrow (2.0.0): Downloading... 100%
  • Installing pyarrow (2.0.0): Downloading... 100%
  • Installing pyarrow (2.0.0): Installing...
  • Installing pyarrow (2.0.0)

In [1]:
import requests

from pathlib import Path
import json
import time

import pyarrow.json
import pyarrow.parquet
import pandas as pd

In [73]:
def get_table_properties(table_url):
    r = requests.get(table_url +"/Properties").json()
    return r

In [2]:
def get_odata_pd(target_url):
    data = pd.DataFrame()
    while target_url:
        r = requests.get(target_url).json()
        data = data.append(pd.DataFrame(r['value']))
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

In [3]:
def get_odata_list(target_url):
    data = []
    while target_url:
        r = requests.get(target_url).json()
        data.extend(r['value'])
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

In [21]:
TEMP = "test-cbs-v4-to-parquet"
TEMP_JSON = Path(TEMP + ".json")
TEMP_NDJSON = Path(TEMP + ".ndjson")
TEMP_PARQUET = Path(TEMP + ".parquet")

TESTDATA = "82807NED"

In [22]:
table_url = f"https://odata4.cbs.nl/CBS/{TESTDATA}"
target_url = table_url + "/Observations"
# data_82931 = get_odata(target_url)

In [62]:
# List all tables under a dataset ID
meta = get_odata_pd(table_url)
meta

,name,kind,url
0,MeasureCodes,EntitySet,MeasureCodes
1,Dimensions,EntitySet,Dimensions
2,PeriodenGroups,EntitySet,PeriodenGroups
3,PeriodenCodes,EntitySet,PeriodenCodes
4,BedrijfstakkenBranchesSBI2008Groups,EntitySet,BedrijfstakkenBranchesSBI2008Groups
5,BedrijfstakkenBranchesSBI2008Codes,EntitySet,BedrijfstakkenBranchesSBI2008Codes
6,PersoonskenmerkenGroups,EntitySet,PersoonskenmerkenGroups
7,PersoonskenmerkenCodes,EntitySet,PersoonskenmerkenCodes
8,GeslachtCodes,EntitySet,GeslachtCodes
9,Observations,EntitySet,Observations
10,Properties,Singleton,Properties

In [47]:
# Get all metadata table names (=url extensions).
# Exclude Observations as it is the actual data and retrieved separately
# Also include Properties as it is not relevant
meta_names = [url for url in meta.url.tolist() if url not in ['Observations', 'Properties']]
meta_names

['MeasureCodes',
 'Dimensions',
 'PeriodenGroups',
 'PeriodenCodes',
 'BedrijfstakkenBranchesSBI2008Groups',
 'BedrijfstakkenBranchesSBI2008Codes',
 'PersoonskenmerkenGroups',
 'PersoonskenmerkenCodes',
 'GeslachtCodes']

In [50]:
# Convert all metadata names to actual urls for table retrieval
meta_urls = [table_url + "/" + name for name in meta_names]
meta_urls

['https://odata4.cbs.nl/CBS/82807NED/MeasureCodes',
 'https://odata4.cbs.nl/CBS/82807NED/Dimensions',
 'https://odata4.cbs.nl/CBS/82807NED/PeriodenGroups',
 'https://odata4.cbs.nl/CBS/82807NED/PeriodenCodes',
 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Groups',
 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Codes',
 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenGroups',
 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenCodes',
 'https://odata4.cbs.nl/CBS/82807NED/GeslachtCodes']

In [51]:
# Get observations data, meaning the actual values of the dataset
observations = get_odata_pd(target_url)
observations

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,0,3000795_1,None,7771.0,2003KW01,T001081,T009002,T001038
1,1,3000795_1,None,7782.0,2003KW02,T001081,T009002,T001038
2,2,3000795_1,None,7809.0,2003KW03,T001081,T009002,T001038
3,3,3000795_1,None,7770.0,2003KW04,T001081,T009002,T001038
4,4,3000795_1,None,7783.0,2003JJ00,T001081,T009002,T001038
...,...,...,...,...,...,...,...,...
81765,496075,3000795_1,None,0.0,2018KW01,999999,2021440,4000
81766,496076,3000795_1,None,0.0,2018KW02,999999,2021440,4000
81767,496077,3000795_1,None,0.0,2018KW03,999999,2021440,4000
81768,496078,3000795_1,None,0.0,2018KW04,999999,2021440,4000
81769,496079,3000795_1,None,0.0,2018JJ00,999999,2021440,4000

In [53]:
meta_tables = [get_odata_pd(url) for url in meta_urls]

In [59]:
meta_tables[3]

,Identifier,Index,Title,Description,DimensionGroupId,Status
0,2003KW01,1,2003 1e kwartaal,,0,Definitief
1,2003KW02,2,2003 2e kwartaal,,0,Definitief
2,2003KW03,3,2003 3e kwartaal,,0,Definitief
3,2003KW04,4,2003 4e kwartaal,,0,Definitief
4,2003JJ00,5,2003,,1,Definitief
...,...,...,...,...,...,...
75,2018KW01,76,2018 1e kwartaal,,0,Definitief
76,2018KW02,77,2018 2e kwartaal,,0,Definitief
77,2018KW03,78,2018 3e kwartaal,,0,Definitief
78,2018KW04,79,2018 4e kwartaal,,0,Definitief
79,2018JJ00,80,2018,,1,Definitief

In [58]:
meta_tables[2]

  Id  Index      Title Description ParentId
0  1      0      Jaren        None     None
1  0      2  Kwartalen        None     None

In [26]:
# list all dataset dimensions
dimensions = get_odata_pd(table_url + "/Dimensions")
dimensions

,Identifier,Title,Description,Kind,MapYear,ReleasePolicy
0,Perioden,Perioden,,TimeDimension,None,True
1,BedrijfstakkenBranchesSBI2008,Bedrijfstakken/branches SBI 2008,,Dimension,None,None
2,Persoonskenmerken,Persoonskenmerken,,Dimension,None,None
3,Geslacht,Geslacht,,Dimension,None,None

In [ ]:
[for dim in dimensions]

In [30]:
# get Measure Codes
codes = get_odata_pd(table_url + "/MeasureCodes")
codes

,Identifier,Index,Title,Description,MeasureGroupId,DataType,Unit,Format,Decimals,PresentationType
0,3000795_1,4,Werkzame beroepsbevolking,Personen die betaald werk hebben.\r\n\r\nDeze ...,None,Integer,x 1 000,None,0,None

In [35]:
codes.Description

0    Personen die betaald werk hebben.\r\n\r\nDeze ...
Name: Description, dtype: object

In [17]:
cbs_catalogs = get_odata_pd("https://odata4.cbs.nl/CBS/Catalogs")
cbs_datasets = get_odata_pd("https://odata4.cbs.nl/CBS/Datasets")

In [20]:
cbs_datasets

,Identifier,Description,Language,Title,Modified,Catalog,Version,VersionNotes,VersionReason,Status,ObservationsModified,ObservationCount,DatasetType
0,80784ned,\nDeze tabel bevat gegevens op regioniveau ove...,nl,Landbouw; arbeidskrachten naar regio,2020-03-03T02:00:00+01:00,CBS,202003030200,,Actualisering,Regulier,2020-03-03T02:00:00+01:00,173148,Numeric
1,81075ned,\nDeze tabel gaat over de werkloosheidsduur va...,nl,Werkloze beroepsbevolking; werkloosheidsduur e...,2020-01-23T02:00:00+01:00,CBS,202001230200,,Stopgezet,Gediscontinueerd,2019-11-14T02:00:00+01:00,2432,Numeric
2,81575NED,\nDeze tabel bevat gegevens over het aantal ve...,nl,"Vestigingen van bedrijven; bedrijfstak, gemeente",2020-04-08T02:00:00+02:00,CBS,202004080200,,Actualisering,Regulier,2020-04-08T02:00:00+02:00,142800,Numeric
3,82245NED,\nDeze tabel bevat cijfers over de Nederlandse...,nl,Bevolking en huishoudens; viercijferige postco...,2019-08-23T02:00:00+02:00,CBS,201908230200,,Stopgezet,Gediscontinueerd,2013-11-15T02:00:00+01:00,326174,Numeric
4,82807NED,\nDeze tabel bevat kwartaal- en jaarcijfers ov...,nl,Werkzame beroepsbevolking; bedrijf,2019-11-29T02:00:00+01:00,CBS,201911290200,De cijfers over het onderwijsniveau in deze ta...,Correctie,Regulier,2019-11-29T02:00:00+01:00,481770,Numeric
5,82931NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2014,2018-07-27T02:00:00+02:00,CBS,201807270200,,Verbetering,Regulier,2018-07-27T02:00:00+02:00,1348572,Numeric
6,83220NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2015,2018-07-27T02:00:00+02:00,CBS,201807270200,,Verbetering,Regulier,2018-07-27T02:00:00+02:00,1401105,Numeric
7,83433NED,\nDeze tabel bevat cijfers over het prijsverlo...,nl,"Consumentenprijzen; werknemers laag, alle basi...",2016-04-12T02:00:00+02:00,CBS,201604120200,,Nieuw,Gediscontinueerd,2016-04-12T02:00:00+02:00,2580,Numeric
8,83435NED,\nDeze tabel bevat cijfers over het aantal pas...,nl,"Amsterdam Airport Schiphol; passagiersvervoer,...",2020-02-14T02:00:00+01:00,CBS,202002140200,,Actualisering,Regulier,2020-02-14T02:00:00+01:00,28742,Numeric
9,83487NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2016,2019-02-01T02:00:00+01:00,CBS,201902010200,,Actualisering bijzonder,Regulier,2019-02-01T02:00:00+01:00,1511607,Numeric
10,83488NED,\nDeze tabel bevat cijfers over het aantal per...,nl,Personen met een rijbewijs; rijbewijscategorie...,2020-02-20T02:00:00+01:00,CBS,202002200200,,Actualisering,Regulier,2020-02-20T02:00:00+01:00,19019,Numeric
11,83749NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2018-09-14T02:00:00+02:00,CBS,201809140200,"Het onderwerp ""Indelingswijziging wijken en bu...",Herontwerp,Regulier,2018-09-14T02:00:00+02:00,1415016,Numeric
12,83822NED,\nDeze tabel bevat gegevens over vestigingen v...,nl,"Fitnesscentra; klanten, abonnementsprijzen en ...",2018-11-26T02:00:00+01:00,CBS,201811260200,,Actualisering,Regulier,2018-11-26T02:00:00+01:00,252,Numeric
13,83878NED,\nDeze tabel bevat cijfers over het gemiddelde...,nl,Aardgaslevering vanuit het openbare net; wonin...,2020-06-25T02:00:00+02:00,CBS,202006250200,,Actualisering,Regulier,2020-06-25T02:00:00+02:00,69174,Numeric
14,84093NED,\nDeze tabel bevat gedetailleerde gegevens ove...,nl,"Consumptie; goederen- en dienstencategorieën, ...",2020-06-24T06:30:00+02:00,CBS,202006240630,,Actualisering,Regulier,2020-06-24T06:30:00+02:00,6559,Numeric
15,84312NED,Deze tabel beschrijft voor Caribisch Nederland...,nl,"Caribisch NL; deelnemers mbo, niveau, sector, ...",2020-05-19T02:00:00+02:00,CBS,202005190200,,Verbetering,Regulier,2020-05-06T15:30:00+02:00,3362,Numeric
16,84334NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2020-06-26T02:00:00+02:00,CBS,202006260200,In een eerdere versie van deze tabel zijn abus...,Correctie,Regulier,2020-06-26T02:00:00+02:00,1456910,Numeric
17,84440NED,\nDeze tabel geeft een overzicht van de bruto ...,nl,Investeringen in vaste activa naar bedrijfstak...,2019-12-13T02:00:00+01:00,CBS,201912130200,,Actualisering,Regulier,2019-12-13T02:00:00+01:00,23851,Numeric
18,84463NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2020-06-26T02:00:00+02:00,CBS,202006260200,,Actualisering bijzonder,Regulier,2020-06-26T02:00:00+02:00,1483040,Numeric
19,84486NED,\nDeze tabel bevat cijfers over het aantal rij...,nl,Rijksmonumenten; regio (indeling 2018),2019-03-19T02:00:00+01:00,CBS,201903190200,,Nieuw,Regulier,2019-03-19T02:00:00+01:00,31464,Numeric
20,84498NED,\nIn deze tabel wordt een overzicht gegeven va...,nl,Trend van broedvogels: indexcijfers,2020-06-26T02:00:00+02:00,CBS,202006260200,De gegevens van de Grote gele kwikstaart en de...,Herontwerp,Regulier,2020-06-26T02:00:00+02:00,5029,Numeric
21,84614NED,"\nHet CBS verzamelt, binnen het kader van de m...",nl,Chemische bestrijding door overheidsinstelling...,2019-10-15T02:00:00+02:00,CBS,201910150200,,Nieuw,Regulier,2019-10-15T02:00:00+02:00,19110,Numeric
22,82675NED,Het Ondernemersvertrouwen is een stemmingsindi...,nl,Ondernemersvertrouwen; bedrijfstakken (SBI 2008),2020-08-13T00:00:00+02:00,CBS,202008130000,,Actualisering,Regulier,2020-08-13T00:00:00+02:00,1104,Numeric
23,84303NED,Deze tabel bevat cijfers over het ondernemersv...,nl,Ondernemersvertrouwen; regio,2020-08-13T00:00:00+02:00,CBS,202008130000,,Actualisering,Regulier,2020-08-13T00:00:00+02:00,999,Numeric
24,80857ned,"Deze tabel bevat het aantal openstaande, ontst...",nl,"Vacatures (openstaande, ontstane en vervulde);...",2020-08-14T00:00:00+02:00,CBS,202008140000,,Actualisering,Regulier,2020-08-14T00:00:00+02:00,3141,Numeric
25,84553NED,Deze tabel bevat gegevens van de door- en uits...,nl,"Mbo; doorstroom en uitstroom, achtergrondkenme...",2020-08-28T00:00:00+02:00,CBS,202008280000,,Actualisering bijzonder,Regulier,2020-08-28T00:00:00+02:00,5738040,Numeric
26,82242NED,Deze tabel bevat de aantallen door rechters in...,nl,Faillissementen; kerncijfers,2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,2700,Numeric
27,80072ned,Deze tabel geeft inzicht in het ziekteverzuimp...,nl,Ziekteverzuimpercentage; bedrijfstakken (SBI 2...,2020-09-18T00:00:00+02:00,CBS,202009180000,,Actualisering,Regulier,2020-09-18T00:00:00+02:00,4448,Numeric
28,82243NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; natuurlijke personen, regio",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,35820,Numeric
29,84120NED,Deze tabel bevat gegevens over de belastingopb...,nl,Overheid; ontvangen belastingen en wettelijke ...,2020-09-23T06:30:00+02:00,CBS,202009230630,,Actualisering,Regulier,2020-09-23T06:30:00+02:00,6456,Numeric
30,82522NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; bedrijven en instellingen, regio",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,35820,Numeric
31,81302ned,Deze tabel bevat gegevens op nationaal niveau ...,nl,"Landbouw; gewassen, dieren, grondgebruik en ar...",2020-09-30T00:00:00+02:00,CBS,202009300000,,Actualisering,Regulier,2020-09-30T00:00:00+02:00,11896,Numeric
32,84122NED,Deze tabel bevat gegevens over de uitgaven en ...,nl,"Overheidsuitgaven en bestedingen; functies, tr...",2020-09-30T00:00:00+02:00,CBS,202009300000,In het kader van het revisiebeleid zijn de ver...,Revisie,Regulier,2020-09-30T00:00:00+02:00,252000,Numeric
33,84287NED,De vacature-indicator is een rekenkundig gewog...,nl,Vacature-indicator,2020-10-08T15:30:00+02:00,CBS,202010081530,,Actualisering,Regulier,2020-10-08T15:30:00+02:00,1044,Numeric
34,83719NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; natuurlijke personen, leeftijd",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,4716,Numeric
35,7425zuiv,Melkveehouders in Nederland leveren circa 96% ...,nl,Melkaanvoer en zuivelproductie door zuivelfabr...,2020-10-14T00:00:00+02:00,CBS,202010140000,,Actualisering,Regulier,2020-10-14T00:00:00+02:00,3012,Numeric
36,81589NED,Deze tabel bevat gegevens over het aantal bedr...,nl,Bedrijven; bedrijfstak,2020-10-15T00:00:00+02:00,CBS,202010150000,,Actualisering,Regulier,2020-10-15T00:00:00+02:00,1069725,Numeric
37,60006,Deze tabel geeft per kwartaal inzicht in de on...,nl,Bouwnijverheid; productieve uren in de burgerl...,2020-10-21T00:00:00+02:00,CBS,202010210000,,Actualisering,Regulier,2020-10-21T00:00:00+02:00,765,Numeric
38,37230ned,Deze tabel bevat cijfers over de veranderingen...,nl,Bevolkingsontwikkeling; regio per maand,2020-10-28T00:00:00+01:00,CBS,202010280000,,Actualisering,Regulier,2020-10-28T00:00:00+01:00,2216104,Numeric
39,70072ned,In deze tabel zijn voor een groot aantal onder...,nl,Regionale kerncijfers Nederland,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering bijzonder,Regulier,2020-10-30T00:00:00+01:00,5073427,Numeric
40,7100oogs,Deze tabel geeft per akkerbouwgewas informatie...,nl,Akkerbouwgewassen; productie naar regio,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering,Regulier,2020-10-30T00:00:00+01:00,48724,Numeric
41,84137NED,Deze tabel beschrijft de verschillende vormen ...,nl,Jongeren met één of meerdere vormen van jeugdz...,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering,Regulier,2020-10-30T00:00:00+01:00,258755,Numeric
42,84296NED,Deze tabel bevat cijfers over de beteelde en ...,nl,Akkerbouwgewassen; voorlopige en definitieve o...,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering bijzonder,Regulier,2020-10-30T00:00:00+01:00,2904,Numeric
43,84478NED,Deze tabel bevat jaarcijfers over zelfstandige...,nl,Zelfstandigen; persoonskenmerken en bedrijfsta...,2020-11-02T00:00:00+01:00,CBS,202011020000,,Actualisering,Regulier,2020-11-02T00:00:00+01:00,478764,Numeric
44,80416ned,Deze tabel bevat pompprijzen van motorbrandsto...,nl,"Pompprijzen motorbrandstoffen; brandstofsoort,...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,16260,Numeric
45,81298ned,"In deze tabel ""In- en uitvoer van goederensoor...",nl,"In- en uitvoer van goederensoorten naar EU, ni...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,978,Numeric
46,82838NED,De tabel bevat gegevens over indexcijfers van ...,nl,"Cao-lonen, contractuele loonkosten en arbeidsd...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,495593,Numeric
47,83131NED,Deze tabel bevat cijfers over het prijsverloop...,nl,Consumentenprijzen; prijsindex 2015=100,2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,914530,Numeric
48,83132NED,Deze tabel bevat de jaar-op-jaar ontwikkeling ...,nl,"Consumentenprijzen; bijdrage en impact, CPI 20...",2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,46214,Numeric
49,83135NED,Deze tabel bevat cijfers over het prijsverloop...,nl,"Jaarmutatie HICP; Nederland, eurozone en Europ...",2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,1904,Numeric
50,83136NED,Deze tabel bevat cijfers over het prijsverloop...,nl,Consumentenprijzen; basisjaren vanaf 1969,2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,6057,Numeric
51,84407NED,Deze tabel bevat een historische tijdreeks met...,nl,"Internationale handel; in- en uitvoerwaarde, S...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,57015,Numeric
52,83765NED,Overzicht van statistische gegevens van gemeen...,nl,Kerncijfers wijken en buurten 2017,2020-11-06T00:00:00+01:00,CBS,202011060000,Binnen het thema nabijheid voorzieningen zijn ...,Correctie,Regulier,2020-11-06T00:00:00+01:00,1537850,Numeric

In [18]:
ids = cbs_datasets.Identifier.tolist()

In [19]:
all_table_urls = ["https://odata4.cbs.nl/CBS/"+id for id in ids]

In [134]:
df = pd.DataFrame()
for url in all_table_urls:
    table = get_odata_pd(url)
    df = df.append(table)

In [68]:
table_names = [table['url'] for table in get_odata(table_url) if table['url']!='Properties']
table_names

['MeasureCodes',
 'Dimensions',
 'PeriodenGroups',
 'PeriodenCodes',
 'BedrijfstakkenBranchesSBI2008Codes',
 'Observations']

In [69]:
table_urls = [table_url + "/" + name for name in table_names]
table_urls

['https://odata4.cbs.nl/CBS/84287NED/MeasureCodes',
 'https://odata4.cbs.nl/CBS/84287NED/Dimensions',
 'https://odata4.cbs.nl/CBS/84287NED/PeriodenGroups',
 'https://odata4.cbs.nl/CBS/84287NED/PeriodenCodes',
 'https://odata4.cbs.nl/CBS/84287NED/BedrijfstakkenBranchesSBI2008Codes',
 'https://odata4.cbs.nl/CBS/84287NED/Observations']

In [70]:
tables = [get_odata(url) for url in table_urls]

In [72]:
tables_dict.keys()

dict_keys(['MeasureCodes', 'Dimensions', 'PeriodenGroups', 'PeriodenCodes', 'BedrijfstakkenBranchesSBI2008Codes', 'Observations'])

In [74]:
tables_dict['Dimensions']

[{'Identifier': 'Perioden',
  'Title': 'Perioden',
  'Description': '',
  'Kind': 'TimeDimension',
  'MapYear': None,
  'ReleasePolicy': 'True'},
 {'Identifier': 'BedrijfstakkenBranchesSBI2008',
  'Title': 'Bedrijfstakken/branches (SBI 2008)',
  'Description': '',
  'Kind': 'Dimension',
  'MapYear': None,
  'ReleasePolicy': None}]

In [71]:
tables_dict = dict(zip(table_names, tables))

In [14]:
with open(TEMP_NDJSON, "w+") as ndjson:
    for record in table:
        ndjson.write(json.dumps(record) + "\n")