In [1]:
import requests

from pathlib import Path
import json
import time

from pyarrow import json as pa_json
import pyarrow.parquet
import pandas as pd

import dask.bag as db

In [2]:
def get_table_properties(table_url):
    r = requests.get(table_url +"/Properties").json()
    return r

In [3]:
def get_table_description(table_url):
    r = requests.get(table_url +"/Properties").json()
    return r['Description']

In [4]:
def get_odata_pd(target_url):
    data = pd.DataFrame()
    while target_url:
        r = requests.get(target_url).json()
        data = data.append(pd.DataFrame(r['value']))
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

In [5]:
def get_odata_list(target_url):
    data = []
    while target_url:
        r = requests.get(target_url).json()
        data.extend(r['value'])
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

In [13]:
def get_odata_bag(target_url):
     # First call target url and get json formatted response as dict
    r = requests.get(target_url).json()
    # Create Dask bag from dict
    bag = db.from_sequence(r['value'])  # TODO -> define npartitions?

    # check if more data exists
    if '@odata.nextLink' in r:
        target_url = r['@odata.nextLink']
    else:
        target_url = None

    # if more data exists continue to concat bag until complete
    while target_url:
        r = requests.get(target_url).json()
        temp_bag = db.from_sequence(r['value'])
        bag = db.concat([bag, temp_bag])

        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None

    return bag

In [14]:
TEMP = "test-cbs-v4-to-parquet"
TEMP_JSON = Path(TEMP + ".json")
TEMP_NDJSON = Path(TEMP + ".ndjson")
TEMP_PARQUET = Path(TEMP + ".parquet")

TESTDATA = "82807NED"

### Test conversion to parquet

In [15]:
table_url = f"https://odata4.cbs.nl/CBS/{TESTDATA}"
target_url = table_url + "/Observations"
# data_82931 = get_odata(target_url)

In [16]:
urls = {
        item["name"]: item["url"]
        for item in requests.get(table_url).json()["value"]
    }

In [12]:
r = requests.get(table_url).json()

In [32]:
pq_dir = Path("/temp/parquet")

In [41]:
gcs_folder = "/CBS/V4/"

In [42]:
pfile = os.listdir(pq_dir)[0]

In [54]:
from datetime import datetime
datetime.today().date().strftime('%Y%m%d')

'20201111'

In [58]:
datetime.now().strftime('%H:%M:%S')

'12:17:49'

In [61]:
pq_dir = Path(f"../temp/{datetime.today().date().strftime('%Y%m%d')}/parquet")

In [65]:
for pfile in os.listdir(pq_dir):
        # gcs_blob = gcs_bucket.blob(gcs_folder)
        print(f"start GCS upload {pfile} @ {datetime.now().strftime('%H:%M:%S')}")
        with open (pq_dir/pfile, "rb") as file:
            print("ok")

start GCS upload cbs.82807NED_PersoonskenmerkenCodes.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_PeriodenGroups.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_PeriodenCodes.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_BedrijfstakkenBranchesSBI2008Groups.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_BedrijfstakkenBranchesSBI2008Codes.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_PersoonskenmerkenGroups.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_Observations.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_MeasureCodes.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_Dimensions.parquet @ 12:29:41
ok
start GCS upload cbs.82807NED_GeslachtCodes.parquet @ 12:29:41
ok

In [70]:
urls = {
    item['name']: table_url + "/" +item['url']
    for item in r['value']
}

In [71]:
urls

{'MeasureCodes': 'https://odata4.cbs.nl/CBS/82807NED/MeasureCodes',
 'Dimensions': 'https://odata4.cbs.nl/CBS/82807NED/Dimensions',
 'PeriodenGroups': 'https://odata4.cbs.nl/CBS/82807NED/PeriodenGroups',
 'PeriodenCodes': 'https://odata4.cbs.nl/CBS/82807NED/PeriodenCodes',
 'BedrijfstakkenBranchesSBI2008Groups': 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Groups',
 'BedrijfstakkenBranchesSBI2008Codes': 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Codes',
 'PersoonskenmerkenGroups': 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenGroups',
 'PersoonskenmerkenCodes': 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenCodes',
 'GeslachtCodes': 'https://odata4.cbs.nl/CBS/82807NED/GeslachtCodes',
 'Observations': 'https://odata4.cbs.nl/CBS/82807NED/Observations',
 'Properties': 'https://odata4.cbs.nl/CBS/82807NED/Properties'}

### Take a look at the Properties table (singleton?)

In [12]:
# Dump to ndjson file
with open (TEMP_NDJSON, 'w+') as f:
    for record in r['value']:
        f.write(json.dumps(record) + "\n")

In [72]:
r = requests.get(table_url + "/Properties")

In [74]:
properties = r.json()

In [75]:
properties.keys()

dict_keys(['@odata.context', 'Identifier', 'Title', 'Description', 'Language', 'Authority', 'Modified', 'TemporalCoverage', 'Catalog', 'Publisher', 'ContactPoint', 'Version', 'VersionNotes', 'VersionReason', 'Frequency', 'Status', 'ObservationCount', 'ObservationsModified', 'DatasetType', 'DefaultPresentation', 'GraphTypes', 'SearchPriority', 'License', 'Source', 'Summary', 'LongDescription', 'Provenance', 'RelatedSources'])

In [16]:
# Create PyArrow tablef from ndjson file
table = pa_json.read_json(TEMP_NDJSON)

In [17]:
table

pyarrow.Table
Id: int64
Measure: string
ValueAttribute: string
Value: double
Perioden: string
BedrijfstakkenBranchesSBI2008: string
Persoonskenmerken: string
Geslacht: string

In [18]:
# Create Parquet file
pyarrow.parquet.write_table(table, TEMP_PARQUET)

### Explore CBS Odata V4

In [62]:
# List all tables under a dataset ID
meta = get_odata_pd(table_url)
meta

,name,kind,url
0,MeasureCodes,EntitySet,MeasureCodes
1,Dimensions,EntitySet,Dimensions
2,PeriodenGroups,EntitySet,PeriodenGroups
3,PeriodenCodes,EntitySet,PeriodenCodes
4,BedrijfstakkenBranchesSBI2008Groups,EntitySet,BedrijfstakkenBranchesSBI2008Groups
5,BedrijfstakkenBranchesSBI2008Codes,EntitySet,BedrijfstakkenBranchesSBI2008Codes
6,PersoonskenmerkenGroups,EntitySet,PersoonskenmerkenGroups
7,PersoonskenmerkenCodes,EntitySet,PersoonskenmerkenCodes
8,GeslachtCodes,EntitySet,GeslachtCodes
9,Observations,EntitySet,Observations
10,Properties,Singleton,Properties

In [47]:
# Get all metadata table names (=url extensions).
# Exclude Observations as it is the actual data and retrieved separately
# Also include Properties as it is not relevant
meta_names = [url for url in meta.url.tolist() if url not in ['Observations', 'Properties']]
meta_names

['MeasureCodes',
 'Dimensions',
 'PeriodenGroups',
 'PeriodenCodes',
 'BedrijfstakkenBranchesSBI2008Groups',
 'BedrijfstakkenBranchesSBI2008Codes',
 'PersoonskenmerkenGroups',
 'PersoonskenmerkenCodes',
 'GeslachtCodes']

In [50]:
# Convert all metadata names to actual urls for table retrieval
meta_urls = [table_url + "/" + name for name in meta_names]
meta_urls

['https://odata4.cbs.nl/CBS/82807NED/MeasureCodes',
 'https://odata4.cbs.nl/CBS/82807NED/Dimensions',
 'https://odata4.cbs.nl/CBS/82807NED/PeriodenGroups',
 'https://odata4.cbs.nl/CBS/82807NED/PeriodenCodes',
 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Groups',
 'https://odata4.cbs.nl/CBS/82807NED/BedrijfstakkenBranchesSBI2008Codes',
 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenGroups',
 'https://odata4.cbs.nl/CBS/82807NED/PersoonskenmerkenCodes',
 'https://odata4.cbs.nl/CBS/82807NED/GeslachtCodes']

In [51]:
# Get observations data, meaning the actual values of the dataset
observations = get_odata_pd(target_url)
observations

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,0,3000795_1,None,7771.0,2003KW01,T001081,T009002,T001038
1,1,3000795_1,None,7782.0,2003KW02,T001081,T009002,T001038
2,2,3000795_1,None,7809.0,2003KW03,T001081,T009002,T001038
3,3,3000795_1,None,7770.0,2003KW04,T001081,T009002,T001038
4,4,3000795_1,None,7783.0,2003JJ00,T001081,T009002,T001038
...,...,...,...,...,...,...,...,...
81765,496075,3000795_1,None,0.0,2018KW01,999999,2021440,4000
81766,496076,3000795_1,None,0.0,2018KW02,999999,2021440,4000
81767,496077,3000795_1,None,0.0,2018KW03,999999,2021440,4000
81768,496078,3000795_1,None,0.0,2018KW04,999999,2021440,4000
81769,496079,3000795_1,None,0.0,2018JJ00,999999,2021440,4000

In [53]:
meta_tables = [get_odata_pd(url) for url in meta_urls]

In [59]:
meta_tables[3]

,Identifier,Index,Title,Description,DimensionGroupId,Status
0,2003KW01,1,2003 1e kwartaal,,0,Definitief
1,2003KW02,2,2003 2e kwartaal,,0,Definitief
2,2003KW03,3,2003 3e kwartaal,,0,Definitief
3,2003KW04,4,2003 4e kwartaal,,0,Definitief
4,2003JJ00,5,2003,,1,Definitief
...,...,...,...,...,...,...
75,2018KW01,76,2018 1e kwartaal,,0,Definitief
76,2018KW02,77,2018 2e kwartaal,,0,Definitief
77,2018KW03,78,2018 3e kwartaal,,0,Definitief
78,2018KW04,79,2018 4e kwartaal,,0,Definitief
79,2018JJ00,80,2018,,1,Definitief

In [58]:
meta_tables[2]

  Id  Index      Title Description ParentId
0  1      0      Jaren        None     None
1  0      2  Kwartalen        None     None

In [26]:
# list all dataset dimensions
dimensions = get_odata_pd(table_url + "/Dimensions")
dimensions

,Identifier,Title,Description,Kind,MapYear,ReleasePolicy
0,Perioden,Perioden,,TimeDimension,None,True
1,BedrijfstakkenBranchesSBI2008,Bedrijfstakken/branches SBI 2008,,Dimension,None,None
2,Persoonskenmerken,Persoonskenmerken,,Dimension,None,None
3,Geslacht,Geslacht,,Dimension,None,None

In [ ]:
[for dim in dimensions]

In [30]:
# get Measure Codes
codes = get_odata_pd(table_url + "/MeasureCodes")
codes

,Identifier,Index,Title,Description,MeasureGroupId,DataType,Unit,Format,Decimals,PresentationType
0,3000795_1,4,Werkzame beroepsbevolking,Personen die betaald werk hebben.\r\n\r\nDeze ...,None,Integer,x 1 000,None,0,None

In [35]:
codes.Description

0    Personen die betaald werk hebben.\r\n\r\nDeze ...
Name: Description, dtype: object

In [17]:
cbs_catalogs = get_odata_pd("https://odata4.cbs.nl/CBS/Catalogs")
cbs_datasets = get_odata_pd("https://odata4.cbs.nl/CBS/Datasets")

In [20]:
cbs_datasets

,Identifier,Description,Language,Title,Modified,Catalog,Version,VersionNotes,VersionReason,Status,ObservationsModified,ObservationCount,DatasetType
0,80784ned,\nDeze tabel bevat gegevens op regioniveau ove...,nl,Landbouw; arbeidskrachten naar regio,2020-03-03T02:00:00+01:00,CBS,202003030200,,Actualisering,Regulier,2020-03-03T02:00:00+01:00,173148,Numeric
1,81075ned,\nDeze tabel gaat over de werkloosheidsduur va...,nl,Werkloze beroepsbevolking; werkloosheidsduur e...,2020-01-23T02:00:00+01:00,CBS,202001230200,,Stopgezet,Gediscontinueerd,2019-11-14T02:00:00+01:00,2432,Numeric
2,81575NED,\nDeze tabel bevat gegevens over het aantal ve...,nl,"Vestigingen van bedrijven; bedrijfstak, gemeente",2020-04-08T02:00:00+02:00,CBS,202004080200,,Actualisering,Regulier,2020-04-08T02:00:00+02:00,142800,Numeric
3,82245NED,\nDeze tabel bevat cijfers over de Nederlandse...,nl,Bevolking en huishoudens; viercijferige postco...,2019-08-23T02:00:00+02:00,CBS,201908230200,,Stopgezet,Gediscontinueerd,2013-11-15T02:00:00+01:00,326174,Numeric
4,82807NED,\nDeze tabel bevat kwartaal- en jaarcijfers ov...,nl,Werkzame beroepsbevolking; bedrijf,2019-11-29T02:00:00+01:00,CBS,201911290200,De cijfers over het onderwijsniveau in deze ta...,Correctie,Regulier,2019-11-29T02:00:00+01:00,481770,Numeric
5,82931NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2014,2018-07-27T02:00:00+02:00,CBS,201807270200,,Verbetering,Regulier,2018-07-27T02:00:00+02:00,1348572,Numeric
6,83220NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2015,2018-07-27T02:00:00+02:00,CBS,201807270200,,Verbetering,Regulier,2018-07-27T02:00:00+02:00,1401105,Numeric
7,83433NED,\nDeze tabel bevat cijfers over het prijsverlo...,nl,"Consumentenprijzen; werknemers laag, alle basi...",2016-04-12T02:00:00+02:00,CBS,201604120200,,Nieuw,Gediscontinueerd,2016-04-12T02:00:00+02:00,2580,Numeric
8,83435NED,\nDeze tabel bevat cijfers over het aantal pas...,nl,"Amsterdam Airport Schiphol; passagiersvervoer,...",2020-02-14T02:00:00+01:00,CBS,202002140200,,Actualisering,Regulier,2020-02-14T02:00:00+01:00,28742,Numeric
9,83487NED,\nOverzicht van statistische gegevens van geme...,nl,Kerncijfers wijken en buurten 2016,2019-02-01T02:00:00+01:00,CBS,201902010200,,Actualisering bijzonder,Regulier,2019-02-01T02:00:00+01:00,1511607,Numeric
10,83488NED,\nDeze tabel bevat cijfers over het aantal per...,nl,Personen met een rijbewijs; rijbewijscategorie...,2020-02-20T02:00:00+01:00,CBS,202002200200,,Actualisering,Regulier,2020-02-20T02:00:00+01:00,19019,Numeric
11,83749NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2018-09-14T02:00:00+02:00,CBS,201809140200,"Het onderwerp ""Indelingswijziging wijken en bu...",Herontwerp,Regulier,2018-09-14T02:00:00+02:00,1415016,Numeric
12,83822NED,\nDeze tabel bevat gegevens over vestigingen v...,nl,"Fitnesscentra; klanten, abonnementsprijzen en ...",2018-11-26T02:00:00+01:00,CBS,201811260200,,Actualisering,Regulier,2018-11-26T02:00:00+01:00,252,Numeric
13,83878NED,\nDeze tabel bevat cijfers over het gemiddelde...,nl,Aardgaslevering vanuit het openbare net; wonin...,2020-06-25T02:00:00+02:00,CBS,202006250200,,Actualisering,Regulier,2020-06-25T02:00:00+02:00,69174,Numeric
14,84093NED,\nDeze tabel bevat gedetailleerde gegevens ove...,nl,"Consumptie; goederen- en dienstencategorieën, ...",2020-06-24T06:30:00+02:00,CBS,202006240630,,Actualisering,Regulier,2020-06-24T06:30:00+02:00,6559,Numeric
15,84312NED,Deze tabel beschrijft voor Caribisch Nederland...,nl,"Caribisch NL; deelnemers mbo, niveau, sector, ...",2020-05-19T02:00:00+02:00,CBS,202005190200,,Verbetering,Regulier,2020-05-06T15:30:00+02:00,3362,Numeric
16,84334NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2020-06-26T02:00:00+02:00,CBS,202006260200,In een eerdere versie van deze tabel zijn abus...,Correctie,Regulier,2020-06-26T02:00:00+02:00,1456910,Numeric
17,84440NED,\nDeze tabel geeft een overzicht van de bruto ...,nl,Investeringen in vaste activa naar bedrijfstak...,2019-12-13T02:00:00+01:00,CBS,201912130200,,Actualisering,Regulier,2019-12-13T02:00:00+01:00,23851,Numeric
18,84463NED,\nDeze tabel bevat cijfers over gemiddelde rei...,nl,"Nabijheid voorzieningen; afstand locatie, wijk...",2020-06-26T02:00:00+02:00,CBS,202006260200,,Actualisering bijzonder,Regulier,2020-06-26T02:00:00+02:00,1483040,Numeric
19,84486NED,\nDeze tabel bevat cijfers over het aantal rij...,nl,Rijksmonumenten; regio (indeling 2018),2019-03-19T02:00:00+01:00,CBS,201903190200,,Nieuw,Regulier,2019-03-19T02:00:00+01:00,31464,Numeric
20,84498NED,\nIn deze tabel wordt een overzicht gegeven va...,nl,Trend van broedvogels: indexcijfers,2020-06-26T02:00:00+02:00,CBS,202006260200,De gegevens van de Grote gele kwikstaart en de...,Herontwerp,Regulier,2020-06-26T02:00:00+02:00,5029,Numeric
21,84614NED,"\nHet CBS verzamelt, binnen het kader van de m...",nl,Chemische bestrijding door overheidsinstelling...,2019-10-15T02:00:00+02:00,CBS,201910150200,,Nieuw,Regulier,2019-10-15T02:00:00+02:00,19110,Numeric
22,82675NED,Het Ondernemersvertrouwen is een stemmingsindi...,nl,Ondernemersvertrouwen; bedrijfstakken (SBI 2008),2020-08-13T00:00:00+02:00,CBS,202008130000,,Actualisering,Regulier,2020-08-13T00:00:00+02:00,1104,Numeric
23,84303NED,Deze tabel bevat cijfers over het ondernemersv...,nl,Ondernemersvertrouwen; regio,2020-08-13T00:00:00+02:00,CBS,202008130000,,Actualisering,Regulier,2020-08-13T00:00:00+02:00,999,Numeric
24,80857ned,"Deze tabel bevat het aantal openstaande, ontst...",nl,"Vacatures (openstaande, ontstane en vervulde);...",2020-08-14T00:00:00+02:00,CBS,202008140000,,Actualisering,Regulier,2020-08-14T00:00:00+02:00,3141,Numeric
25,84553NED,Deze tabel bevat gegevens van de door- en uits...,nl,"Mbo; doorstroom en uitstroom, achtergrondkenme...",2020-08-28T00:00:00+02:00,CBS,202008280000,,Actualisering bijzonder,Regulier,2020-08-28T00:00:00+02:00,5738040,Numeric
26,82242NED,Deze tabel bevat de aantallen door rechters in...,nl,Faillissementen; kerncijfers,2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,2700,Numeric
27,80072ned,Deze tabel geeft inzicht in het ziekteverzuimp...,nl,Ziekteverzuimpercentage; bedrijfstakken (SBI 2...,2020-09-18T00:00:00+02:00,CBS,202009180000,,Actualisering,Regulier,2020-09-18T00:00:00+02:00,4448,Numeric
28,82243NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; natuurlijke personen, regio",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,35820,Numeric
29,84120NED,Deze tabel bevat gegevens over de belastingopb...,nl,Overheid; ontvangen belastingen en wettelijke ...,2020-09-23T06:30:00+02:00,CBS,202009230630,,Actualisering,Regulier,2020-09-23T06:30:00+02:00,6456,Numeric
30,82522NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; bedrijven en instellingen, regio",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,35820,Numeric
31,81302ned,Deze tabel bevat gegevens op nationaal niveau ...,nl,"Landbouw; gewassen, dieren, grondgebruik en ar...",2020-09-30T00:00:00+02:00,CBS,202009300000,,Actualisering,Regulier,2020-09-30T00:00:00+02:00,11896,Numeric
32,84122NED,Deze tabel bevat gegevens over de uitgaven en ...,nl,"Overheidsuitgaven en bestedingen; functies, tr...",2020-09-30T00:00:00+02:00,CBS,202009300000,In het kader van het revisiebeleid zijn de ver...,Revisie,Regulier,2020-09-30T00:00:00+02:00,252000,Numeric
33,84287NED,De vacature-indicator is een rekenkundig gewog...,nl,Vacature-indicator,2020-10-08T15:30:00+02:00,CBS,202010081530,,Actualisering,Regulier,2020-10-08T15:30:00+02:00,1044,Numeric
34,83719NED,Deze tabel bevat de aantallen door rechters in...,nl,"Faillissementen; natuurlijke personen, leeftijd",2020-10-12T06:30:00+02:00,CBS,202010120630,,Actualisering,Regulier,2020-10-12T06:30:00+02:00,4716,Numeric
35,7425zuiv,Melkveehouders in Nederland leveren circa 96% ...,nl,Melkaanvoer en zuivelproductie door zuivelfabr...,2020-10-14T00:00:00+02:00,CBS,202010140000,,Actualisering,Regulier,2020-10-14T00:00:00+02:00,3012,Numeric
36,81589NED,Deze tabel bevat gegevens over het aantal bedr...,nl,Bedrijven; bedrijfstak,2020-10-15T00:00:00+02:00,CBS,202010150000,,Actualisering,Regulier,2020-10-15T00:00:00+02:00,1069725,Numeric
37,60006,Deze tabel geeft per kwartaal inzicht in de on...,nl,Bouwnijverheid; productieve uren in de burgerl...,2020-10-21T00:00:00+02:00,CBS,202010210000,,Actualisering,Regulier,2020-10-21T00:00:00+02:00,765,Numeric
38,37230ned,Deze tabel bevat cijfers over de veranderingen...,nl,Bevolkingsontwikkeling; regio per maand,2020-10-28T00:00:00+01:00,CBS,202010280000,,Actualisering,Regulier,2020-10-28T00:00:00+01:00,2216104,Numeric
39,70072ned,In deze tabel zijn voor een groot aantal onder...,nl,Regionale kerncijfers Nederland,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering bijzonder,Regulier,2020-10-30T00:00:00+01:00,5073427,Numeric
40,7100oogs,Deze tabel geeft per akkerbouwgewas informatie...,nl,Akkerbouwgewassen; productie naar regio,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering,Regulier,2020-10-30T00:00:00+01:00,48724,Numeric
41,84137NED,Deze tabel beschrijft de verschillende vormen ...,nl,Jongeren met één of meerdere vormen van jeugdz...,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering,Regulier,2020-10-30T00:00:00+01:00,258755,Numeric
42,84296NED,Deze tabel bevat cijfers over de beteelde en ...,nl,Akkerbouwgewassen; voorlopige en definitieve o...,2020-10-30T00:00:00+01:00,CBS,202010300000,,Actualisering bijzonder,Regulier,2020-10-30T00:00:00+01:00,2904,Numeric
43,84478NED,Deze tabel bevat jaarcijfers over zelfstandige...,nl,Zelfstandigen; persoonskenmerken en bedrijfsta...,2020-11-02T00:00:00+01:00,CBS,202011020000,,Actualisering,Regulier,2020-11-02T00:00:00+01:00,478764,Numeric
44,80416ned,Deze tabel bevat pompprijzen van motorbrandsto...,nl,"Pompprijzen motorbrandstoffen; brandstofsoort,...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,16260,Numeric
45,81298ned,"In deze tabel ""In- en uitvoer van goederensoor...",nl,"In- en uitvoer van goederensoorten naar EU, ni...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,978,Numeric
46,82838NED,De tabel bevat gegevens over indexcijfers van ...,nl,"Cao-lonen, contractuele loonkosten en arbeidsd...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,495593,Numeric
47,83131NED,Deze tabel bevat cijfers over het prijsverloop...,nl,Consumentenprijzen; prijsindex 2015=100,2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,914530,Numeric
48,83132NED,Deze tabel bevat de jaar-op-jaar ontwikkeling ...,nl,"Consumentenprijzen; bijdrage en impact, CPI 20...",2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,46214,Numeric
49,83135NED,Deze tabel bevat cijfers over het prijsverloop...,nl,"Jaarmutatie HICP; Nederland, eurozone en Europ...",2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,1904,Numeric
50,83136NED,Deze tabel bevat cijfers over het prijsverloop...,nl,Consumentenprijzen; basisjaren vanaf 1969,2020-11-05T06:30:00+01:00,CBS,202011050630,,Actualisering,Regulier,2020-11-05T06:30:00+01:00,6057,Numeric
51,84407NED,Deze tabel bevat een historische tijdreeks met...,nl,"Internationale handel; in- en uitvoerwaarde, S...",2020-11-05T00:00:00+01:00,CBS,202011050000,,Actualisering,Regulier,2020-11-05T00:00:00+01:00,57015,Numeric
52,83765NED,Overzicht van statistische gegevens van gemeen...,nl,Kerncijfers wijken en buurten 2017,2020-11-06T00:00:00+01:00,CBS,202011060000,Binnen het thema nabijheid voorzieningen zijn ...,Correctie,Regulier,2020-11-06T00:00:00+01:00,1537850,Numeric

In [18]:
ids = cbs_datasets.Identifier.tolist()

In [19]:
all_table_urls = ["https://odata4.cbs.nl/CBS/"+id for id in ids]

_________
## Check if table from parquet file is the same as table from cbs

In [79]:
from_pq.shape, from_cbs.shape

((481770, 8), (481770, 8))

In [83]:
from_cbs.head()

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,0,3000795_1,None,7771.0,2003KW01,T001081,T009002,T001038
1,1,3000795_1,None,7782.0,2003KW02,T001081,T009002,T001038
2,2,3000795_1,None,7809.0,2003KW03,T001081,T009002,T001038
3,3,3000795_1,None,7770.0,2003KW04,T001081,T009002,T001038
4,4,3000795_1,None,7783.0,2003JJ00,T001081,T009002,T001038

In [84]:
from_pq.head()

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,0,3000795_1,None,7771.0,2003KW01,T001081,T009002,T001038
1,1,3000795_1,None,7782.0,2003KW02,T001081,T009002,T001038
2,2,3000795_1,None,7809.0,2003KW03,T001081,T009002,T001038
3,3,3000795_1,None,7770.0,2003KW04,T001081,T009002,T001038
4,4,3000795_1,None,7783.0,2003JJ00,T001081,T009002,T001038

In [87]:
from_pq.eq(from_cbs)

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,True,True,True,True,True,True,True,True
0,False,True,True,False,True,False,False,True
0,False,True,True,False,False,False,False,False
0,False,True,True,False,False,True,False,False
0,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...
481765,False,False,False,False,False,False,False,False
481766,False,False,False,False,False,False,False,False
481767,False,False,False,False,False,False,False,False
481768,False,False,False,False,False,False,False,False
481769,False,False,False,False,False,False,False,False

### Check if dataframe loaded from Parquet file written after Dask Bag implementation is same as original
______

In [96]:
table = bag
file_name = 'test'
out_dir = Path('../temp/test/')

In [98]:
# File path to dump table as ndjson
ndjson_path = Path(f"{temp_ndjson_dir}/{file_name}.ndjson")
# File path to create as parquet file
pq_path = Path(f"{out_dir}/{file_name}.parquet")

In [97]:
# create directories to store files
out_dir = Path(out_dir)
temp_ndjson_dir = Path("./temp/ndjson")
create_dir(temp_ndjson_dir)
create_dir(out_dir)

PosixPath('../temp/test')

In [99]:
# Dump as ndjson format  # TODO -> how to lazily iterage over a Bag to generate a single .ndjson file
with open(ndjson_path, 'w+') as ndjson:
    for record in table:
        print(record)
        print(type(record))
        break
        # ndjson.write(json.dumps(record) + "\n")

{'Id': 0, 'Measure': '3000795_1', 'ValueAttribute': 'None', 'Value': 7771.0, 'Perioden': '2003KW01', 'BedrijfstakkenBranchesSBI2008': 'T001081', 'Persoonskenmerken': 'T009002', 'Geslacht': 'T001038'}
<class 'dict'>

In [104]:
delayed = table.to_delayed()

In [108]:
delayed[1], delayed[0]

(Delayed(('from_sequence-e777cdd1a8a10054bfb99adce15d8dbf', 1)),
 Delayed(('from_sequence-e777cdd1a8a10054bfb99adce15d8dbf', 0)))

In [112]:
table.map(json.dumps).to_textfiles(temp_ndjson_dir/"*.json")

['/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/00.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/01.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/02.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/03.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/04.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/05.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/06.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/07.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/08.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/09.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/10.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/11.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/12.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/13.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/14.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/15.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/16.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/17.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/18.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/19.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/20.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/21.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/22.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/23.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/24.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/25.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/26.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/27.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/28.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/29.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/30.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/31.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/32.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/33.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/34.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/35.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/36.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/37.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/38.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/39.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/40.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/41.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/42.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/43.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/44.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/45.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/46.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/47.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/48.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/49.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/50.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/51.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/52.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/53.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/54.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/55.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/56.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/57.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/58.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/59.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/60.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/61.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/62.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/63.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/64.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/65.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/66.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/67.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/68.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/69.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/70.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/71.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/72.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/73.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/74.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/75.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/76.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/77.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/78.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/79.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/80.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/81.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/82.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/83.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/84.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/85.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/86.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/87.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/88.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/89.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/90.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/91.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/92.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/93.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/94.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/95.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/96.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/97.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/98.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/ndjson/99.json']

In [144]:
filenames = sorted(glob(str(temp_ndjson_dir)+"/*.json"))

In [140]:
from glob import glob
filenames = sorted(glob(str(temp_ndjson_dir)+"/*.json"))
with open(temp_ndjson_dir/'outfile.json', 'w') as out:
    for fn in filenames:
        with open(fn) as f:
            out.write(f.read())

In [146]:
target_url

'https://odata4.cbs.nl/CBS/82807NED/Observations'

In [147]:
df_from_cbs = get_odata_pd(target_url)

In [149]:
df_from_parquet = pd.read_parquet("/Users/tslilstrauss/Projects/nimbletl/temp/20201111/parquet/cbs.82807NED_Observations.parquet")

In [148]:
df_from_cbs.head()

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,0,3000795_1,None,7771.0,2003KW01,T001081,T009002,T001038
1,1,3000795_1,None,7782.0,2003KW02,T001081,T009002,T001038
2,2,3000795_1,None,7809.0,2003KW03,T001081,T009002,T001038
3,3,3000795_1,None,7770.0,2003KW04,T001081,T009002,T001038
4,4,3000795_1,None,7783.0,2003JJ00,T001081,T009002,T001038

In [151]:
df_from_parquet.describe()

                  Id          Value
count  481770.000000  481770.000000
mean   246339.821782      89.966609
std    143092.089111     317.879557
min         0.000000       0.000000
25%    120442.250000       1.000000
50%    245654.500000       9.000000
75%    370866.750000      50.000000
max    496079.000000    8862.000000

In [153]:
df_from_cbs.eq(df_from_parquet)

,Id,Measure,ValueAttribute,Value,Perioden,BedrijfstakkenBranchesSBI2008,Persoonskenmerken,Geslacht
0,True,True,True,True,True,True,True,True
0,False,True,True,False,True,False,False,True
0,False,True,True,False,False,False,False,False
0,False,True,True,False,False,True,False,False
0,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...
481765,False,False,False,False,False,False,False,False
481766,False,False,False,False,False,False,False,False
481767,False,False,False,False,False,False,False,False
481768,False,False,False,False,False,False,False,False
481769,False,False,False,False,False,False,False,False

In [154]:
df_from_parquet.dtypes

Id                                 int64
Measure                           object
ValueAttribute                    object
Value                            float64
Perioden                          object
BedrijfstakkenBranchesSBI2008     object
Persoonskenmerken                 object
Geslacht                          object
dtype: object

In [ ]:
df_from_parquet.head()

## Check if /n is added when parsin bag to json file

In [17]:
url = table_url+"/Dimensions"

In [23]:
bag = get_odata_bag(target_url)

In [25]:
bag.map(json.dumps).to_textfiles("./temp/*.json")

ss/Projects/nimbletl/nimbletl/temp/193.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/194.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/195.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/196.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/197.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/198.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/199.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/200.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/201.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/202.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/203.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/204.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/205.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/206.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/207.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/208.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/209.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/210.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/211.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/212.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/213.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/214.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/215.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/216.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/217.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/218.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/219.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/220.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/221.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/222.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/223.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/224.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/225.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/226.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/227.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/228.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/229.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/230.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/231.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/232.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/233.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/234.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/235.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/236.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/237.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/238.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/239.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/240.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/241.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/242.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/243.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/244.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/245.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/246.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/247.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/248.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/249.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/250.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/251.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/252.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/253.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/254.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/255.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/256.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/257.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/258.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/259.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/260.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/261.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/262.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/263.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/264.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/265.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/266.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/267.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/268.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/269.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/270.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/271.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/272.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/273.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/274.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/275.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/276.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/277.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/278.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/279.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/280.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/281.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/282.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/283.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/284.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/285.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/286.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/287.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/288.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/289.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/290.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/291.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/292.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/293.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/294.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/295.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/296.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/297.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/298.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/299.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/300.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/301.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/302.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/303.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/304.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/305.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/306.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/307.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/308.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/309.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/310.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/311.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/312.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/313.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/314.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/315.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/316.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/317.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/318.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/319.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/320.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/321.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/322.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/323.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/324.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/325.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/326.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/327.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/328.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/329.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/330.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/331.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/332.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/333.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/334.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/335.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/336.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/337.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/338.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/339.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/340.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/341.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/342.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/343.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/344.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/345.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/346.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/347.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/348.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/349.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/350.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/351.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/352.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/353.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/354.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/355.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/356.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/357.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/358.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/359.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/360.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/361.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/362.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/363.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/364.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/365.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/366.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/367.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/368.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/369.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/370.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/371.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/372.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/373.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/374.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/375.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/376.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/377.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/378.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/379.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/380.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/381.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/382.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/383.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/384.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/385.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/386.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/387.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/388.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/389.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/390.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/391.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/392.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/393.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/394.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/395.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/396.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/397.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/398.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/399.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/400.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/401.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/402.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/403.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/404.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/405.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/406.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/407.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/408.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/409.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/410.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/411.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/412.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/413.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/414.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/415.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/416.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/417.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/418.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/419.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/420.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/421.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/422.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/423.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/424.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/425.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/426.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/427.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/428.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/429.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/430.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/431.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/432.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/433.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/434.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/435.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/436.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/437.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/438.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/439.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/440.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/441.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/442.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/443.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/444.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/445.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/446.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/447.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/448.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/449.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/450.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/451.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/452.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/453.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/454.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/455.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/456.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/457.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/458.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/459.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/460.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/461.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/462.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/463.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/464.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/465.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/466.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/467.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/468.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/469.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/470.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/471.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/472.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/473.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/474.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/475.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/476.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/477.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/478.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/479.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/480.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/481.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/482.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/483.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/484.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/485.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/486.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/487.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/488.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/489.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/490.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/491.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/492.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/493.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/494.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/495.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/496.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/497.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/498.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/499.json',
 '/Users/tslilstrauss/Projects/nimbletl/nimbletl/temp/500.json']